* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    min-height: 100svh;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content:center;
  
}
.card {
    
    border: 2px solid #000;
    width: min(90%,700px);
    margin: min(5vh,80px) auto;
    padding:clamp(10px,3vw,40px) clamp(16px,4vw,35px);
    text-align: center;
}

.search {
    border: 2px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.result {
    border: 2px solid #000;
    width: 100%;
    padding:  clamp(10px,4vw,50px);
}

.search input {
    border: 0;
    outline: 0;
    flex: 1;
    margin-right: 30px;
    font-size: clamp(16px,4vw,18px);
    padding: clamp(8px,2vw,10px);
    height: 56px;
}

.search button {
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 56px;
    width: 56px;
}

.search button img {
    width: clamp(16px,4vw,20px)
}


.weather-icon {
    width: clamp(24px, 30vw, 130px);
    margin-top:  clamp(5px,3vh,80px);
}

.detail img {
    width: clamp(24px, 10vw, 60px);
    margin-top: clamp(12px,3vh,40px);
}

.result h1 {
    font-size: clamp(36px,8vw,80px);
    font-weight: 500;
}

.result h2 {
    font-size: clamp(24px,6vw,50px);
    font-weight: 500;
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: clamp(30px,3vw,50px);
    /* flex-wrap: wrap; */
}

.val-title {
    font-size: clamp(12px,4vw,25px);
    font-weight: 500;
}

.val {
    font-size: clamp(15px,5vw,30px);
    font-weight: 300;
    margin-top: clamp(2px,2vw,5px);
}

.error-msg {
    color: rgb(243, 79, 79);
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
     visibility: hidden;

}


@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

.text-shake {
    animation: shake 0.5s;
}

.err-show {
    visibility: visible;
}

