*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
   
    
}

.card{
 border: 2px solid #000;
    width: 90%;
    max-width: 700px;
    margin: 100px auto 0;
    padding: 40px  35px;
    text-align: center;
}